interaction-commands-mule/src/test/resources/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="example" type="exampleType"/>
  <xs:complexType name="exampleType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>