interaction-commands-mule/src/test/resources/Metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iris.temenos.com/metadata.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Metadata" type="met:MetadataType" xmlns:met="http://iris.temenos.com/metadata.xsd"/>
  <xs:complexType name="PropertyType" mixed="true">
    <xs:sequence>
      <xs:element type="met:TermType" name="Term" maxOccurs="unbounded" minOccurs="0" xmlns:met="http://iris.temenos.com/metadata.xsd"/>
      <xs:element type="met:PropertyType" name="Property" maxOccurs="unbounded" minOccurs="0" xmlns:met="http://iris.temenos.com/metadata.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element type="met:EntityType" name="Entity" maxOccurs="unbounded" minOccurs="0" xmlns:met="http://iris.temenos.com/metadata.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ModelName"/>
    <xs:attribute type="xs:float" name="Version"/>
  </xs:complexType>
  <xs:complexType name="EntityType">
    <xs:sequence>
      <xs:element type="met:PropertyType" name="Property" maxOccurs="unbounded" minOccurs="0" xmlns:met="http://iris.temenos.com/metadata.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name" use="optional"/>
  </xs:complexType>
</xs:schema>